services:
  app:
    env_file:
      - .env
    build: backend
    container_name: addit_backend
    # command: bash -c "python manage.py runserver 0.0.0.0:${DJANGO_PORT}"
    # command: bash -c "gunicorn config.wsgi -w ${UWSGI_WORKERS} -b 0.0.0.0:${DJANGO_PORT}"
    volumes:
      - ./backend:/app/backend
    ports:
      - "127.0.0.1:${DJANGO_PORT}:${DJANGO_PORT}"
    restart: unless-stopped
