{% extends 'addit/base.html' %}{% load static %}

{% block content %}


    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-md-auto">
                <div class="col text-center">
                    <img src="{% static 'images/logo512_transparent.png' %}" alt="Logo"
                         style="width: 80%; display: inline;">
                    <h2>Sign in</h2>
                </div>

                <div class="col">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" name="username" class="form-control" id="floatingInput"
                                   placeholder="Username">
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="password" class="form-control" id="floatingPassword"
                                   placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <button type="submit" class="form-control btn btn-primary btn-lg">Sign in</button>
                    </form>
                </div>
                <hr/>
                <div class="row">
                    <div class="col quote-monospace">
                        &lt;&commat;T-101&gt; I made this
                    </div>
                    <div class="col-2">
                        <div class="text-end">
                            <a href="https://github.com/T-101/addit">
                                <i class="fa-brands fa-square-github fa-2xl"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
