@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/fonts/SourceSans3-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/static/fonts/SourceCodePro-Regular.ttf') format('truetype');
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.doSearch:hover {
    cursor: pointer;
}

.quote-monospace {
    font-family: 'Source Code Pro', sans-serif !important;
}

.list-group-item {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}

.list-group {
    --bs-list-group-action-hover-bg: var(--bs-purple);
}

/* Center the navbar brand on small screens */
@media (max-width: 576px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
